html, body{
  min-height: 100%;
  background: indigo;
}

#root{
  min-height: 100%;
}

.container-fluid{
  background: transparent;
  min-height: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
.search-bar{
  position: relative;
  margin-top:20em;
}
.search-bar .col-md-2 button{
  width: 100%;   
}

.recipe-card .card{
  width: 100%;
}